
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

 body {
        font-family: 'Open Sans', sans-serif; /* or 'Roboto Condensed' if preferred */
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100%;
    height:100vh;
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'),url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.container .vertical-text{
    width:5%;
}
.container .main-content{
    width:95%;
}

/* Main container styling */
.container {
    display: flex;
    font-family:Open sans, sans-serif;
}

/* Vertical text section styling */
.vertical-text {
    font-size: 4rem; 
    padding-left: 15px;
    font-weight: bold;
    color:#dcd6d2;
    font-family: Open sans, serif;
    display: flex;
    flex-direction: column-reverse; 
    align-items:start; 
    /* letter-spacing: 2px;  */
}

.vertical-text span {
    transform: rotate(-90deg); 
    display: block;
    margin: 5px 0; 
}  


/* Main content styling */
.main-content {
    
    flex: 1;
    padding: 40px;
    padding-left: 20px;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


.logo {
    font-size: 45px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    margin:0 50px 0 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-family: Open sans,sans-serif;
}

.hire-me-btn {
    padding: 10px 20px;
    background-color: #ff7e33;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: Open sans,sans-serif;
}


.hero-section {
    display: flex;
    align-items: center;
    gap: 40px;
}


.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text h1 span {
    font-size: 56px;
    font-weight: bold;
    color: #333;
}

.hero-text p {
    color: #666;
    margin-bottom: 40px;
    max-width: 500px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.download-btn {
    background-color: #ff7e33;
    color: white;
}

.contact-btn {
    background-color: white;
    color: #ff7e33;
    border: 2px solid #ff7e33;
}

/* Hero image styling */
.hero-image img {
    width: 550px;
    margin-left: 70px;
    /* border-radius: 10px; */
}


